body
{
  background-image:url("fondo_horoscopo_online.jpg");
  background-attachment: fixed;


}
h1 {

  font-size: 50px;
  text-shadow: 0px 0px 40px black;
  text-decoration: underline;
  font-family: 'Dancing Script','Grenze Gotisch', cursive;
 font-style: italic;
 text-transform: uppercase;
/*Colores*/
/*Coloresdel sistema */
color: Olive;
/*COlores hexadecimales */
/* */
color: rgb(255, 0, 0);
/* */
color: rgba(255, 0, 0, 0.5);
}

h3{
  font-family: 'Dancing Script';
  font-size: 20px;
  font-weight: bolder;
  font-family: vollkorn;
}
p{
  font-family: 'Grenze Gotisch'; sans-serif;
 font-weight: lighter;

}
/*
####### SELECTORES #####
*/

/* selector universal */
*{
  font-family: verdana, Geneva, Tahoma, sans-serif;
  margin: 40px;
  padding: 0px;
  color: white;
}
/* selector de etiqueta */
h1 {
  color: #000000;
  font-size: 50px;
  text-shadow: 0px 0px 40px black;
  text-decoration: underline;
  background: #E2E0E0;
  padding: 0px;
  margin: 30px;
}
a{
  color: black;
  font-size: 20px;
}
footer a
{
  color:black;
  font-size: 15px;
}
/* selector de id */
#descripcion{
  font-family: 'Grenze Gotisch', cursive;
  border: 5px solid white;
  padding: 15px;
}
.link_blanco{
  font-family: 'Grenze Gotisch';
  text-decoration: underline;
 font-weight: lighter;
  color: white;
}
.titulo{
  color: #FFFFFF;
  font-family:  Dancing Script;
  font-weight: lighter;
  background-image:url("fondo_horoscopo_online.jpg");
}

/* selector de clase */
.parrafo{
  font-family: 'Grenze Gotisch';
  text-decoration: none;
 font-weight: lighter;
  color: white;
  font-size: 20px;
}
.cuadros{
  border: 2px solid black;
width: 80px;
height:10px;
background-color: white;
color: black;
text-align: center;
line-height: 50px;
box-shadow: 1px 1px 8px blue;
border-radius: 5px;
}
.botonetes{
  font-family: 'Grenze Gotisch';
  font-weight: bolder;
  color: black;
  border: 2px solid black;
width: 80px;
height:30px;
background-color: lightblue;
text-align: center;
box-shadow: 1px 1px 8px lightblue;
border-radius: 15px;
}
.botonetes:hover{
  font-family: 'Grenze Gotisch';
  font-weight: bolder;
  color: white;
  border: 2px solid black;
width: 80px;
height:30px;
background-color: blue;
text-align: center;
box-shadow: 1px 1px 8px lightblue;
border-radius: 20px;
transition: all 1s;
}
.botonetes:active{
  font-family: 'Grenze Gotisch';
  font-weight: bolder;
  color: white;
  border: 2px solid black;
  width: 80px;
  height:30px;
  background-color: darkblue;
  text-align: center;
  box-shadow: 1px 1px 8px lightblue;
  border-radius: 20px;
  transition: all 0.5s;
}
/* selector de atributo */
#usuario form{
  border: 5px solid green;
  margin-top: 15px;
  margin-bottom: 15px;

}
#usuario form *{
  display: block;
}
input[type="text"]{
  margin-bottom: 15px;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  border: solid black;
  border-radius: 5px;
  color: black !important;
}
.caja1{
  width: 380px;
  height: 380px;
  background-color: lightblue;
  border:10px solid black;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  font-family: Arial;
  background-image: url(rueda.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}
.caja2{
  width: 600px;
  height:380px;
  background-color: #000000;
    border:10px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
background-image: url(Sagitario.jpg);
background-size: contain;
background-repeat: no-repeat;
float: left;

}
.caja3{
  width: 600px;
  height:380px;
  background-color:  #000000;
    border:10px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
background-image: url(piscis.jpg);
background-size: contain;
background-repeat: no-repeat;
float: left;
}
.caja4{
  width: 150px;
  height:150px;
  background-color:  #000000;
    border:10px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
background-image: url(pablo.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
}
.caja5{
  width: 150px;
  height:150px;
  background-color:  #000000;
    border:10px solid black;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
background-image: url(eli.png);
background-size: contain;
background-repeat: no-repeat;
float: left;
}
.clearfix{
  float: none;
  clear:both;
}
}


/*     <img src="eli.png"  height="200px" alt="Eli" title="Eli"/>
<img src="pablo.png"  height="200px" alt="pablo" title="Pablo"/>

 cajas */
